*{
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #033347;
	padding: 0;
	margin: 0;
	
}
p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, ul {
	font-weight: bold;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 20px;	
}

.container {
	margin-left: 9%;
	margin-right: 9%;
}	
                       /*Header*/
.header {
	padding-top: 40px;
	font-size: 15px;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
}
.logo__text {
	margin-left: 10px;
}
.navbar {
	display: flex;
}
.navbar li {
	cursor: pointer;
	margin-left: 30px;
}
.phone {
	font-size: 18px;
	font-weight: bold;
}
.nav__phone {
	margin-right: 0;	
}
                        /*First screen*/
.offer {
	background: url("../img/bg.jpg") no-repeat right 10px;
	
}                        
.offer .container {
	margin-right: 5%;
}
.offer__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.offer__cont {
	width: 44vw;	
}
.offer__title {
	margin-top: 17vh;
}
.title-over {
	font-size: 14px;
}
.offer__text {
	font-size: 18px;
	margin-top: 33px;
	line-height: 1.45em;
}
.button {
	margin-top: 42px;
	display:inline-block;
	background: #F64CFA;
	border-radius: 84px;
	padding: 14px 26px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.offer__socials {
	margin-top: 11vh;
	margin-bottom: 60px;

}
.social {
	margin-left: 13px;
	text-decoration: none;
}
.socials .social:first-child {
	margin-left: 0px;
}
.offer__image {
	top: 120px;	
	right: 0;
	background: url("../img/ava.png") no-repeat right 17vh;
	width: 40%;
	min-height: 90vh;
	background-size: 100%;
}

                        /*Second screen*/
.skills {
	background: #FBF8FB;
	padding-top: 80px;
	padding-bottom: 125px;
}  
.skills__items {
	text-align: center;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
} 
.item__title {
	font-size: 15px;
	width: 176px
}
                         /*Third screen*/
.portfolio {
	padding-top: 80px;
}
.wrap {
	display: flex;
	flex-direction: column;
}
.works {
	margin-top: 65px;
	margin: 65px auto 20px auto;
}
.works__wrap {
	justify-content: center;
	display: flex;
}
.wrap2 {
	align-items: flex-end;
	margin-top: -60px;
}
.work-1 {
	background: url("../img/backery.jpg") no-repeat;
	width: 230px;
	height: 370px;
}
.work-2 {
	background: url("../img/coworking.jpg") no-repeat;
	width: 545px;
	height: 370px;
}   
.work-3 {
	background: url("../img/duolife.jpg") no-repeat;
	width: 565px;
	height: 324px;
} 
.work-4 {
	background: url("../img/program.jpg") no-repeat;
	width: 286px;
	height: 278px;
}         
.work-5 {
	background: url("../img/tent.jpg") no-repeat;
	width: 487px;
	height: 278px;
}   
.work-6 {
	background: url("../img/timeMachine.jpg") no-repeat;
	width: 564px;
	height: 326px;
} 
.lookmore {
	display: block;
	text-align: center;
	margin: 10px auto;
	font-size: 13px;
	color: #033347;
} 
                      /*Fourth screen*/  
.contacts {
	padding-top: 120px;	
} 
.contacts__content {
	margin-top: 85px;	
	display: flex;
	align-items: center;
}
.contacts__image {
	width: 689px;	
	height: 517px;	
	width: 50%;	
	background: url("../img/contact.jpg") no-repeat left top;
}
.contacts__text {
	margin-left: 150px;	
} 
.contacts__data {
	display: flex;
	margin-top: 15px;	
}
.contacts__data__text {
	margin-left: 10px;	
}
.contacts__socials {
	margin-top: 15px;	
} 

                        /*Footer*/
.footer {
	background: #033347;
	height: 134px;	
	padding: 45px 0;
}
.footer__content {
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: space-between;
} 
.footer__text {
	color: #fff;
	font-size: 16px;	
}
.footer__text2 {
	margin-right: 200px;	
}
.footer__button {
	margin-right: 0;	
	text-decoration: none;
	border: 1px solid #fff;
	padding: 12px 27px;
	color: #fff;
}                       

                         /*adaptability*/

@media (max-width: 1280px) {
	
	.offer__text {
		font-size: 16px;
	}
              
}
@media (max-width: 1112px) {
/* показываем кнопку для переключения верхней навигации */
	
	h1 {
		font-size: 45px;
	}  
}                
