html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

input, button {outline: 0 !important;}
<<<<<<< HEAD
body {
	-moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;   
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-us
}
=======
>>>>>>> parent of 2340d89 (bg)

.container {
	max-width: 1220px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

.section__title {
	font-size: 50px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;   
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.btn {
	border-radius: 30px;
	background: rgb(255, 184, 0);
	font-size: 13px;
	font-weight: bold;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:hover {
	background: linear-gradient(270deg, #FFE298 0%, #FFC631 100%);
}

#form-popup {
	display: none;
}
.thanks {
	max-width: 300px;
	display: none;
	position: absolute;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    color: #000;
    padding: 0 !important;
}
.thanks__block {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: #fff;
	height: 330px;
	padding-right: 50px;
}
.thanks__img {
	margin-top: auto;
	height: 302px;
	width: 221px;
	background: url('../images/popup-back-call.jpg') no-repeat left bottom;
	background-size: contain;
}
.thanks__text {
	line-height: 25px;
	width: 235px;
	margin-left: 100px;
	text-align: center;
}
.thanks__title {
	position: relative;
	font-size: 24px;
	font-weight: bold;
}

.thanks__title::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -25px;
	left: 0;
	background: #FFB800;
}

.thanks__message {
	margin-top: 50px;
	font-size: 20px;
}
body {
	font-family: 'Gotham Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #fff;
}

.top {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url('../images/main-bg.jpg') no-repeat center top;
	background-size: cover;
	padding-top: 90px; /*for header*/
}

.top:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	z-index: 1;
	top: 0;    
	left: 0;   
	background: linear-gradient(104.94deg, rgba(67, 48, 1, 0.8) 4.95%, rgba(0, 0, 0, 0.632) 56.73%, rgba(255, 184, 0, 0.32) 100%);
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	//position: relative;
	z-index: 3;
	background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.691956) 48.88%, #000000 97.4%);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 90px;
}

.menu__btn {
	display: none;
}
.menu__btn-exit {
	display: none;
}	

.header__mobile {
	display: none;
}

.menu__list {
	display: flex;
}

.menu__item {
	margin: 0 18px;
}

.menu__list-link {
	font-size: 17px;
	font-weight: 500;
	border-bottom: 2px solid transparent;
	padding-bottom: 5px;
	transition: all 0.5s;
}

.menu__list-link:hover {
	border-bottom: 2px solid #FFB800;
}

.header__btn {
	width: 200px;
	color: #000;
}

/*.header__btn:hover {
	background: linear-gradient(90deg, rgb(255, 198, 52) 0%, rgb(255, 224, 144) 100%);
}*/

.top__main {
	z-index: 2;
	height: 100%;
	margin: auto 0;
	padding: 50px 0;
	align-items: center;
}

.top__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top__left {
	width: 700px;
	margin-right: 50px;
}

.top__title {
	font-size: 55px;
	line-height: 80px;
}

.title-border {
	border: 3px solid #FFB800;
	padding: 7px 20px;
}

.top__text {
	margin-top: 50px;
	font-size: 22px;
	line-height: 40px;
	font-weight: 500;
}

.top__bottom {
	margin-top: 70px;
	display: flex;
	align-items: center;
	
}

.top__bottom-text {
	font-size: 22px;
	font-weight: bold;
	flex: 1;
}

.top__bottom-price {
	font-size: 24px;
	background: url('../images/mazok1.png') center center no-repeat;
	background-size: contain;
	padding: 20px 60px 20px 45px;
	margin-left: 10px;
}

.price-big {
	font-weight: 900;
	font-size: 51px;
	line-height: 80px;
}

.form {
	color: #000;
	background: #fff;
	width: 400px;
	padding: 50px 35px;
	box-shadow: 0px 0px 15px rgba(239, 239, 239, 0.5);
	border-radius: 10px;
	height: 480px;
	transition: all ease 1.5s;
}

.top__form-btn-mobile {
	display: none;
}

.form__title {
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 45px;
}

.txt-yellow {
	color: #FFB800;
}

.form__input {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 14px;
	display: block;
	padding: 15px 18px;
	width: 100%;
	border: 1px solid #CBCBCB;
	border-radius: 30px;
	margin-top: 14px;
}

.form__input::placeholder {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 13px;
	color: #8C8A8A;
}

.form__btn {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-top: 26px;
	box-shadow: 0px 6px 10px rgba(255, 184, 0, 0.4);
}

/*.form__btn:hover {
	//box-shadow: none;
	background: linear-gradient(90deg, rgb(255, 198, 52) 0%, rgb(255, 224, 144) 100%);
}*/

.form__caption {
	font-weight: 300;
	margin-top: 30px;
	font-size: 13px;
	padding-left: 18px;
	position: relative;
}

.form__caption:before {
	content: '';
	display: block;
	position: absolute;
	top: -2px;    
	left: 0; 
	width: 15px;
	height: 15px;
	background: #000;
	background: url('../images/protect-icon.svg'); 
}

.section-bg {
	background: linear-gradient(255.79deg, #3E2C00 0%, #372E15 50.52%, #030200 100%);
}

.why-us {
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.why-us__title {
	margin-top: 50px;
	margin-bottom: 26px;
}

.why-us__blocks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.why-us__block {
	width: 50%;
	text-align: center;
	margin: 35px auto 0;
}

.why-us__block-img {
	height: 211px;
}

.why-us__block-title {
	font-size: 22px;
	font-weight: bold;
	color: #FFB800;
	line-height: 40px;
}
.why-us__block-text {
	margin-top: 10px;
	width: 400px;
	line-height: 25px;
	display: inline-block;
}

.side-caption {
	//position: relative;
}

/*.side-caption::before {
	content: 'Почему';
	font-weight: 900;
	font-size: 120px;
	line-height: 0;
	color: transparent; 
    -webkit-text-stroke: 1px rgba(140, 138, 138, 0.3);
	left: -50px;
	position: absolute;
	writing-mode:vertical-rl;
    transform:scale(-1) translateY(-50%);
    bottom: 50%;
	
}
.side-caption::after {
	content: 'мы?';
	font-weight: 900;
	font-size: 120px;
	color: transparent; 
    -webkit-text-stroke: 1px rgba(140, 138, 138, 0.3);
	right: -50px;
	top: 0;
	position: absolute;
	writing-mode:vertical-rl;
    transform:scale(-1) translateY(50%);
    top: 50%;
}*/

.works__title {
	margin-top: 70px;
} 

/*.slick-slider*/
.works__slider {
  margin-left: -12%;
  margin-right: -12%;
}
/*.works__slider*/
.works__slider .slick-list {
  padding-top: 15%!important;
	padding-bottom: 15%!important;
	padding-left: 5%!important;
	padding-right: 5%!important;
}

.works__slider .slick-dots {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/*works__slider*/
.works__slider .slick-track {
  max-width: 100%!important;
  transform: translate3d(0, 0, 0)!important;
  perspective: 100px;
}
/*slick-slide*/
.works__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100%!important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}

.slick-snext,
.slick-sprev {
  display: block;
}

.works__slider .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  transform: translate3d(0, 0, 20px);
  z-index: 2;
}

.works__slider .slick-snext {
  opacity: 1;
  transform: translate3d(30%, 0, 0px);
  z-index: 1;
}

.works__slider .slick-sprev {
  opacity: 1;
  transform: translate3d(-30%, 0, 0px);
}

.test {
  display: block;
  width: 100%;
  height: 300px;
  background: #c00;
  box-shadow: inset 0px 0px 0px 3px #000
}

.works__slider {
	width: 85%;
	margin: 0 auto;
}

.works__slide {
	display: flex !important;
	justify-content: center;
}

.works__slider .slick-arrow {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.works__slider .left-arrow {
	left: -50px;
}
.works__slider .right-arrow {
	right: -50px;
}

.works__slider .works__slide img {
	position: relative;
	display: block;
  opacity: 0.6;
  width: 60%;
}

.works__slider .slick-current img {
	cursor: pointer;
	filter: drop-shadow(0px 0px 25px rgba(255, 184, 0, 0.4));
	opacity: 1;
}

.works__cards {
	//display: flex;
	position: relative;
	height: 205px;
}

.works__card {
	width: 182px;
	height: 205px;
	border-radius: 10px;
	//transform: translateX(-20px);
	transition: all ease .3s;
	cursor: pointer;
	position: absolute;
	transform: rotateY(0deg) ;
	perspective: 0px;
	perspective: 800px;
	

}

.works__card:hover {
	transform: translateX(-20px);
}

.card-image {
	transform: rotateY(180deg);
	transform-origin: left center;
}

.card-back {
	transform-origin: right center;
	padding: 25px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background: linear-gradient(173.05deg, #EFEFEF 5.43%, #323E42 99.5%);
	border: 1px solid #8C8A8A;
	
}
.card-image, .card-back {
	//transform-origin: right center;
	backface-visibility: hidden;
	transition: all ease 1s;
	position: absolute;
}
.card-half-rotated {
	//transform: translateX(-100px) !important;
	z-index: 1;
}	
.card-half-unrotated {
	//transform: translateX(-100px) !important;
	z-index: 0;
}
.card-rotated {
	z-index: 1;
	transform: translateX(0px) !important;
}
.card-half-rotated .card-back {
	transform: rotateY(180deg);
}
.card-half-rotated .card-image {
	transform: rotateY(360deg);
}

.card-half-unrotated .card-back {
	transform: rotateY(0deg);
}
.card-half-unrotated .card-image {
	transform: rotateY(180deg);
}

.card-rotated .card-back {
	transform: rotateY(180deg);
}
.card-rotated .card-image {
	transform: rotateY(360deg);
}

.card-text {
	font-weight: 900;
	line-height: 20px;
	color: #737070;
}

.card-text-stretch {
	letter-spacing: 0.15em;
}

.services__title {
	margin: 90px 0 40px;
}

.services__packages {
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-bottom: 80px;
}


.services__packages .slick-arrow {
	cursor: pointer;
	position: absolute;
	top: 10px;
	z-index: 1;
}
.services__packages .right-arrow {
  left: calc(50% + 135px);
}
.services__packages .left-arrow {
  left: calc(50% - 175px);
}

.services__packages .slick-disabled  {
	opacity: 0.3;
	cursor: auto;
}
.start-package {
	background: linear-gradient(172.87deg, #EFEFEF 5.56%, #728070 100%);
}

.standart-package {
	background: linear-gradient(173.05deg, #EFEFEF 5.43%, #323E42 99.5%);
}

.business-package {
	background: linear-gradient(172.87deg, #EFEFEF 5.56%, #4F4428 100%);
}

.services__package {
	width: 390px;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.services__package+.services__package {
	margin-left: 10px;
}

.package__title {
	font-weight: 900;
	font-size: 24px;
}

.green {
	color: #79d86a;
}

.blue {
	color: #319cff;
}

.brown {
	color: #BA8704;
}

.package__prices {
	position: relative;
	font-size: 14px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
}

.package__prices::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: #cbcbcb;
}

.package__price {
	font-weight: bold;
	font-size: 22px;
}

.package__price-old {
	position: relative;
}

.package__price-old::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 50%;
	transform: translateY(50%);
	left: 0;
	background: #FFB800;
}
.package__price-new {
	color: #8C8A8A;
}

.package__list {
	margin-top: 15px;
	text-align-last: left;
	list-style: none;
}

.package__list-item {
	line-height: 30px;
	margin: 8px 0;
	text-align: left;
}

.package__term {
	font-weight: 500;
	font-size: 14px;
	margin: auto 0 20px;
	padding-top: 12px;
	color: #fff;
	position: relative;
}

.package__term::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: -2px;
	left: 0;
	background: #CBCBCB;
}

.package__btn {
	display: inline-flex;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	width: 250px;
	margin: 0 auto;
	box-shadow: 0px 6px 10px rgba(255, 184, 0, 0.4);
}

.stock {
	background: linear-gradient(260.25deg, #737070 0.42%, rgba(239, 239, 239, 0.5) 100%);
	padding-top: 72px;
	color: #000;
}

.stock-wrapper {
	display: flex;
	position: relative;
	height: 720px;
}

.stock__image {
	position: absolute;
	left: -210px;
	width: 100%;
	height: 720px;
	background: url('../images/stock-image.png') no-repeat left top;
	background-size: contain;
}

.stock__content {
	z-index: 1;
	margin-left: auto;
	margin-top: 45px;
	width: 575px;
}

.stock__title {
	text-align: left;
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 20px;
}

.mazok {
	background: url('../images/mazok1.png') center center no-repeat;
	background-size: contain;
	padding: 20px 60px 20px 45px;
}

.stock__text {
	font-size: 24px;
	line-height: 40px;
	font-weight: 500;
	margin-bottom: 70px;
}

.stock__input {
	background: rgba(239, 239, 239, 0.5);
	border: 1px solid #FFFFFF;
}

.stock__form {
	width: 500px;
}

.footer {
	text-align: center;
	padding: 52px 0 20px;
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.9375) 0.01%, rgba(0, 0, 0, 0.72) 100%);
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.footer__studio {
	text-align-last: left;
	display: flex;
	align-items: center;
}

.logo-img {
	width: 153px;
}

.studio__info {
	margin-left: 47px;
	font-weight: bold;
	font-size: 18px;
	line-height: 35px;
	position: relative;
}

.studio__info::before {
	content: '';
	position: absolute;
	height: 58px;
	width: 1px;
	background: #ffb800;
	top: 7px;
	left: -23px;
}

.footer__socials {
	margin-left: 150px;
}

.footer__social {
	width: 40px;
	margin-left: 37px;
}

.footer__text {
	font-size: 12px;
	color: #000;
}

@media (max-width: 1300px) {
	.top__title {
    padding-left: 50px;
    line-height: 65px;
	}
	.title-border {
		line-height: 80px;
	}
	.top__text {
		padding-left: 50px;
		line-height: 32px;
	}

}	

@media (max-width: 1200px) {
	.services__package+.services__package {
		margin-left: 0;
	}
	.services__package {
    width: 390px ;
    margin-right: 20px;
  }  
	.package__prices {
		padding: 10px 0;
	}
	.services__packages .slick-slide {
		display: flex;
	}
	.stock__image {
		left: -300px;
	}	
	.footer__socials {
		margin-left: 0;
	}

}	

@media (max-width: 1070px) {	
	.top__wrapper {
    flex-direction: column;
  }
  .top__left {
  	margin-right: 0;
  } 
  .top__title, .top__text {
  	text-align: center;
  	padding-left: 0;
  } 
  .top__bottom {
  	margin-top: 50px;
  	justify-content: center;
  }
  .top__bottom-text {
  	width: 200px;
  	flex: none;
  }
  .top__form {
  	margin-top: 30px;
  }
  .menu {
  	order: 1;
  }
  .menu__list {
    display: block;
    position: absolute;
    top: 90px;
    width: 350px;
    right: 0;
    background: #000;
    text-align: left;
    padding: 53px 0px 30px 53px;
    transform: translateY(-500px);
    transition: all .5s;
	}
	.menu__btn-exit {
		display: block;
		cursor: pointer;
		width: 27px;
		margin-bottom: 17px;
	}
	.menu__item {
		margin: 0;
	}
	.menu__list.menu__list--active {
		transform: translateY(0);
	}

	.menu__list-link {
		padding: 15px 0;
		display: block;
	}
	.menu__list-link:hover {
		border-bottom: 2px solid transparent;
		color: #FFB800;
	}
  .menu__btn {
		display: block;
		width: 35px;
		height: 24px;
		border: none;
		cursor: pointer;
		border-top: 2px solid #FFB800;
		border-bottom: 2px solid #FFB800;
		background: transparent;
		position: relative;
	}
	.menu__btn:before {
		content: '';
		position: absolute;
		width: 35px;
		height: 2px;
		top: 9px;
		left: 0;
		background-color: #FFB800;
	}
	.header__btn {
		margin-left: auto;
		margin-right: 100px;
	}	
	.services__title {
    margin: 30px 0 40px;
	}
	.works__cards {
		display: none;
	}
	.stock {
		overflow-y: hidden;
	}
	.stock-wrapper {
		height: auto;
		padding-bottom: 50px;
	}
	.stock__image {
		width: 70%;
	}

}

@media (max-width: 950px) {	
	.why-us__blocks {
		display: block;
		width: 100%;
	}
	.why-us__block {
		width: auto;
	}
	.why-us__block-img {
		margin: 0 auto;
	}
	.stock {
		padding-top: 30px;
	}
	.stock__image {
    width: 500px;
    left: -20%;
    top: 65px;
	}
	.stock__content {
		width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	.stock__text {
		margin-top: 70px;
    margin-bottom: 100px;
    width: 430px;
    margin-left: auto;
    margin-right: 5%;
    text-align: center;
	}
	.studio__info {
    font-size: 16px;
    line-height: 25px;
  }  
  .studio__info::before {
    top: -3px;
    left: -23px;
}
	.footer__social {
		margin-left: 34px;
	}
	.footer__social:first-child {
		margin-left: 0;
	}

}	

@media (max-width: 800px) {	
	.top__left {
		width: auto;
	}
	.top__bottom-price {
		font-size: 20px;
	}
	.price-big {
		font-size: 40px;
	}
	.works__slider .slick-arrow {
		display: none !important;
	}
	.works__slider {
    width: 100%;
  } 
  .stock__image {
    width: 500px;
    left: calc(25% - 390px);
    top: 65px;
	} 
	.stock__text {
		width: 350px;
	}
	.footer__inner {
		position: relative;
		flex-direction: column;
	}
	.logo-img {
		width: 120px;
	}
	.studio__info {
		margin-left: 30px;
	}
	.studio__info::before {
    top: -3px;
    left: -15px;
	}
	.footer__socials {
    margin-top: 25px;
  }
  .footer__up {
  	position: absolute;
    right: 0;
  }
}

@media (max-width: 600px) {	
	.thanks__text {
		margin-left: 30px;
	}
	.top__left {
		width: auto;
	}
	.header__btn {
		display: none;
	}
	.header__mobile {
		margin-left: auto;
		margin-right: 50px;
		display: block;
	}
	.top__bottom-text {
		font-size: 16px;
		width: auto;
	}
	.text-nl {
		display: block;
	}
	.top__bottom-price {
	    font-size: 14px;
	}
	.price-big {
	    font-size: 30px;
	}
	.works__slider .slick-current img {
    filter: drop-shadow(0px 0px 11px rgba(255, 184, 0, 0.4));
  }
  .why-us__title, .works__title  {
  	margin-top: 45px;
  }
  
  .stock {
  	padding-top: 0;
  }
  .stock__title {
  	font-size: 43px;
  } 
  .stock__text {
    width: 285px;
    line-height: 25px;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 150px;
	} 
	.stock__form {
    width: 100%;
    padding: 0 50px;
	}
	.mazok {
		padding: 20px 40px 20px 25px;
	}
	.footer {
		padding: 32px 0px;
	}
	.footer__inner {
		margin-bottom: 0;
	}
	.studio__info, .footer__text {
		display: none;
	}
	.footer__up-img {
		width: 45px;
	}
	
}

@media (max-width: 476px) {	
	.section-bg {
		background: linear-gradient(255.79deg, #000 0%, #372E15 50.52%, #030200 100%)
	}
	
	.thanks__block {
		padding-left: 50px;
	}
	.thanks__img {
		display: none;
	}
	.thanks__text {
		margin-left: 0;
	}	
	.menu__list {
		width: 100%;
		top: 0;
	}
	.top__main {
		padding: 10px 0;
	}
	.top__title {
    font-size: 26px;
    line-height: 15px;
	}
	.top__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
	}	
	.top__bottom {
    margin-top: 20px;
    //justify-content: center;
	}
	.top__bottom-text {
  	font-size: 13px;
  }
  .top__bottom-price {
    font-size: 13px;
    padding: 0px 30px 0px 25px;
    margin-left: 0;		
	}
	.price-big {
	   font-size: 24px;
	}
	.form {
		width: 100%;
		margin-top: 10px;
		padding: 34px 25px;
	}
	.top__form {
		height: auto;
	}
	.top__form input {
		display: none;
	}
	.form__title {
		font-size: 15px;
		margin-bottom: 0;
	}
	.form__caption {
		font-size: 10px;
		text-align: center;
	}
	.form__caption:before {
		top: -3px;
	}
	.top__form-btn {
		display: none;
	}
	.top__form-btn-mobile {
		display: flex;
    color: #000;
	}

	.why-us__block-text {
		width: 100%;
	}
	.why-us__block-img {
		width: 100%;
		height: auto;
	}
	.services__package {
    margin-right: 10px;
    margin-left: 10px;
  }
  .services__package+.services__package {
  	margin-left: 10px;
  }
  .services__packages .left-arrow {
    left: 20px;
	}
	.services__packages .right-arrow {
    left: auto;
    right: 20px;
	}
  .section__title {
  	font-size: 40px;
  }
  .why-us__block {
  	margin-top: 0;
  }
  .stock__title {
  	font-size: 33px;
  }
  .mazok {
    padding: 20px 30px 20px 20px;
	}
  .stock__image {
    width: 300px;
    left: calc(25% - 230px);
    top: 85px;
  }
  .stock__text {
    width: 200px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
  } 
  .footer__up {
  	top: 15px;
  }
  .footer__up-img {
    width: 27px;
	} 
	.footer__text {
		font-size: 9px;
	}  
}  

  @media (max-width: 374px) {	
  	body {
  		font-size: 13px;
  	}
  	.top__title {
    	font-size: 22px;
    }	
    .top__bottom-price {
	    font-size: 13px;
	    padding: 0px 10px 0px 5px;
		}
		.price-big {
		    font-size: 24px;
		}
		.stock__image {
	    left: calc(25% - 240px);
	    top: 65px;
		}
		.why-us__block-title {
  		font-size: 18px;
  	}
  	.package__title {
  		font-size: 18px;
  	}
  	.why-us__block-text {
  		line-height: 22px;
  	}
  	.package__list-item {
  		margin: 0;
  	}
  	.package__price {
  		font-size: 18px;
  	}
		.section__title, .stock__title {
			font-size: 24px;
		}
		.package__term {
			font-size: 12px;
		}
		.package__btn {
			width: 156px;
			height: 32px;
		}
		.btn {
			font-size: 14px;
		}

		.stock__text {
	    width: 190px;
	    font-size: 13px;
	    line-height: 21px;
	    margin-top: 10px;
	  }  
  }	
