@charset "UTF-8";
*,
*:before,
*:after {
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body,
input,
button,
textarea,
select,
.fancybox-skin {
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 1.2;
  color: #292D34; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after,
.clear {
  clear: both; }

.hidden,
.modals {
  display: none; }

.text-uppercase {
  text-transform: uppercase; }

.text-strike {
  text-decoration: line-through; }

.text-nowrap {
  white-space: nowrap; }

.text-center {
  text-align: center; }

.d-table {
  display: table; }

.d-table-row {
  display: table-row; }

.d-table-cell {
  display: table-cell; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.transition-1,
.transition-1:before,
.transition-1:after,
.slick-arrow,
.slick-dots button {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important; }

[placeholder]:focus:-moz-placeholder {
  color: transparent !important; }

[placeholder]:focus::-moz-placeholder {
  color: transparent !important; }

[placeholder]:focus:-ms-input-placeholder {
  color: transparent !important; }

.input-1, .input-2 {
  position: relative; }
  .input-1 input, .input-2 input,
  .input-1 textarea,
  .input-2 textarea {
    width: 100%;
    font-size: 15px;
    color: #000;
    border: 2px solid #F2F3F5;
    outline: none;
    background: #F2F3F5;
    -webkit-border-radius: 7px;
            border-radius: 7px; }
    .input-1 input::-webkit-input-placeholder, .input-2 input::-webkit-input-placeholder,
    .input-1 textarea::-webkit-input-placeholder,
    .input-2 textarea::-webkit-input-placeholder {
      color: #292D34; }
    .input-1 input:-moz-placeholder, .input-2 input:-moz-placeholder,
    .input-1 textarea:-moz-placeholder,
    .input-2 textarea:-moz-placeholder {
      color: #292D34;
      opacity: 1; }
    .input-1 input::-moz-placeholder, .input-2 input::-moz-placeholder,
    .input-1 textarea::-moz-placeholder,
    .input-2 textarea::-moz-placeholder {
      color: #292D34;
      opacity: 1; }
    .input-1 input:-ms-input-placeholder, .input-2 input:-ms-input-placeholder,
    .input-1 textarea:-ms-input-placeholder,
    .input-2 textarea:-ms-input-placeholder {
      color: #292D34; }
    .input-1 input:focus, .input-2 input:focus,
    .input-1 textarea:focus,
    .input-2 textarea:focus {
      border-color: #14AA52; }
      .input-1 input:focus:invalid, .input-2 input:focus:invalid,
      .input-1 textarea:focus:invalid,
      .input-2 textarea:focus:invalid {
        border-color: #f00;
        -webkit-box-shadow: none;
                box-shadow: none; }
    .input-1 input:invalid, .input-2 input:invalid,
    .input-1 textarea:invalid,
    .input-2 textarea:invalid {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none; }
  .input-1 input, .input-2 input {
    height: 79px;
    padding: 25px 10px 25px 65px; }
  
  .input-1 textarea,
  .input-2 textarea {
    height: 186px;
    padding: 29px 10px 29px 65px;
    resize: none; }
  .input-1:before, .input-2:before {
    display: block;
    content: '';
    position: absolute;
    left: 17px;
    top: 21px;
    width: 37px;
    height: 37px;
    background-color: #fff !important;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.input-1_name:before {
  background: url("img/icon-form-1.svg") center no-repeat; }

.input-1_phone:before,
.input-2_phone:before {
  background: url("img/icon-form-2.svg") center no-repeat; }

.input-1_email:before {
  background: url("img/icon-form-3.svg") center no-repeat; }

.input-1_message:before {
  background: url("img/icon-form-4.svg") center no-repeat; }

.input-2 input,
.input-2 textarea {
  font-size: 16px;
  background: none;
  border-color: transparent; }

.input-2:before {
  background-color: #F2F3F5 !important; }

/*
.textarea-1 {
	@extend .input-1;
	height: 80px;
	padding: 3px 10px;
	textarea {
		height: 100%;
		line-height: normal;
		resize: none;
	}
}
*/
.button-1, .button-2, .button-3 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  padding: 0 28px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff !important;
  text-decoration: none !important;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: #14AA52;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .button-1:hover, .button-2:hover, .button-3:hover {
    background-color: #129c4b; }
  .button-1:active, .button-2:active, .button-3:active {
    background-color: #118f45; }

.button-2, .button-3 {
  height: 79px;
  padding: 0 85px 0 35px;
  font-size: 14px;
  background: #169D4E url("../images/decor-2.svg") right center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .button-2:before, .button-3:before {
    display: block;
    content: '';
    position: absolute;
    right: 28px;
    top: 50%;
    width: 22px;
    height: 2px;
    margin: -1px 0 0;
    background: #fff; }
  .button-2:hover, .button-3:hover {
    background-color: #149047; }
  .button-2:active, .button-3:active {
    background-color: #128241; }

.button-3 {
  height: 65px;
  padding: 0 107px 0 34px; }
  .button-3:before {
    right: 22px; }

.modal-close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  text-decoration: none !important;
  background: url("../images/close-1.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

/*
.fancybox-close {
	width: 18px;
	height: 18px;
	right: 10px;
	top: 11px;
	background: url('../images/icon-close-1.png') no-repeat;
}
*/
.main-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: url("../images/lines-1.svg") center top repeat-y; }

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.mobile-menu {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  .mobile-menu ul {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    list-style: none; }
  .mobile-menu li {
    margin: 15px 0 0; }
    .mobile-menu li:first-child {
      margin: 0; }

.mobile-menu__close {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 15px;
  text-decoration: none !important;
  background: url("../images/close-1.svg") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

/* START HERE */
.button-1, .button-2, .button-3 {
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out; }

.input-1 input, .input-2 input,
.input-1 textarea,
.input-2 textarea,
.input-2 input,
.input-2 textarea,
.why__item-content,
.why__item-icon,
.why__item-title,
.why__item-text,
.what__item-content,
.what__item-icon,
.what__item-title,
.what__item-text {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  text-transform: uppercase; }

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 97px;
  padding: 0 90px 0 0;
  background: url("../images/decor-1.svg") right bottom no-repeat; }
  .header__left:before {
    display: block;
    content: '';
    position: absolute;
    left: -375px;
    top: 0;
    width: 375px;
    height: 100%;
    background: #fff; }

.header__logo, .footer__logo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 0 0 74px;
  font-size: 12px;
  font-weight: bold; }
  .header__menu li {
    margin: 0 0 0 25px; }
    .header__menu li:first-child {
      margin: 0; }

.header__menu-button {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
  text-decoration: none !important;
  background: url("../images/menu-1.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__right a {
    color: #fff; }

.header__contacts {
  margin: 0 24px 0 0;
  font-size: 15px;
  font-weight: bold;
  list-style: none; }

.homescreen {
  color: #fff;
  background: url("../images/bg-1.jpg") center no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }

.homescreen__inner {
  padding: 224px 0 89px; }

.homescreen__heading {
  font-weight: 900;
  text-transform: uppercase; }
  .homescreen__heading p h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .homescreen__heading h1:nth-child(1) {
      font-size: 24px;
      line-height: 1.5;
      color: #000; }
      .homescreen__heading h1:nth-child(1) span {
        margin: -5px 0 0;
        padding: 0 17px 0 12px;
        background: #fff; }
        .homescreen__heading h1:nth-child(1) span:first-child {
          padding-left: 46px; }
          .homescreen__heading h1:nth-child(1) span:first-child:before {
            display: block;
            content: '';
            position: absolute;
            left: 16px;
            top: 18px;
            width: 19px;
            height: 4px;
            background: #14AA52; }
    .homescreen__heading p:nth-child(2) {
      margin: 33px 0 0;
      font-size: 63px;
      line-height: 1.33; }
      .homescreen__heading p:nth-child(2) span {
        margin: -10px 0 0;
        padding: 0 18px 0 17px;
        background: #3A6EF4; }
    .homescreen__heading p:nth-child(3) {
      margin: 48px 0 0;
      font-size: 24px;
      line-height: 1.375; }
  .homescreen__heading span {
    position: relative;
    display: inline-block;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .homescreen__heading span:first-child {
      margin: 0 !important; }

.homescreen__button {
  max-width: 339px;
  margin: 26px 0 0; }

.title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase; }
  .title span {
    color: #14AA52; }

.why {
  position: relative;
  z-index: 1; }

.why__inner {
  padding: 113px 0 0; }

.why__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 5px -15px 0; }

.why__item {
  width: 33.33%;
  margin: 30px 0 0;
  padding: 0 15px; }

.why__item-content {
  height: 100%;
  padding: 64px 15px 19px;
  line-height: 1;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066);
          box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066); }
  .why__item-content:hover {
    background: #3A6EF4; }
    .why__item-content:hover .why__item-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    .why__item-content:hover .why__item-title,
    .why__item-content:hover .why__item-text {
      color: #fff; }

.why__item-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 0 0 40px; }

.why__item-title {
  margin: 0 0 14px;
  font-size: 33px;
  font-weight: 900;
  color: #3A6EF4;
  text-transform: uppercase; }

.why__item-text {
  font-size: 18px; }

.objects {
  margin: -33px 0 0;
  color: #fff;
  background: url("../images/bg-2.jpg") center no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }

.objects__inner {
  padding: 164px 0 58px; }

.objects__slider {
  max-width: 800px;
  margin: 51px auto 0; }
  .objects__slider .slick-list {
    overflow: visible; }

.objects__slide {
  position: relative;
  padding: 0 15px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  overflow: hidden; }

.objects__slide-image {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  overflow: hidden; }

.objects__slide-content {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 15px;
  bottom: 0;
  max-width: 100%;
  height: 72px;
  padding: 10px 27px 10px 20px;
  background: #fff; }
  .objects__slide-content:before {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 40px;
    height: 100%;
    background: url("../images/decor-3.svg") right top no-repeat; }

.objects__slide-title {
  position: relative;
  padding: 0 0 0 16px;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.34;
  color: #292D34;
  text-transform: uppercase; }
  .objects__slide-title:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 1px;
    width: 5px;
    background: #14AA52; }

.objects__controls, .reviews__controls {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 57px 0 0; }
  .objects__controls .slick-arrow, .reviews__controls .slick-arrow {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: block;
    width: 58px;
    height: 58px;
    font-size: 2px;
    color: transparent;
    border: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
    .objects__controls .slick-arrow.slick-prev, .reviews__controls .slick-arrow.slick-prev {
      background: #fff url("../images/arrow-left-1.svg") center no-repeat; }
    .objects__controls .slick-arrow.slick-next, .reviews__controls .slick-arrow.slick-next {
      background: #fff url("../images/arrow-right-1.svg") center no-repeat; }
  .objects__controls .slick-dots, .reviews__controls .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
    .objects__controls .slick-dots li, .reviews__controls .slick-dots li {
      margin: 0 6px 0 7px; }
      .objects__controls .slick-dots li.slick-active button, .reviews__controls .slick-dots li.slick-active button {
        border-color: #3A6EF4; }
        .objects__controls .slick-dots li.slick-active button:before, .reviews__controls .slick-dots li.slick-active button:before {
          background: #3A6EF4; }
    .objects__controls .slick-dots button, .reviews__controls .slick-dots button {
      position: relative;
      display: block;
      width: 17px;
      height: 17px;
      font-size: 2px;
      color: transparent;
      background: none;
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      cursor: pointer; }
      .objects__controls .slick-dots button:before, .reviews__controls .slick-dots button:before {
        display: block;
        content: '';
        position: absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fff; }

.objects__controls-dots, .reviews__controls-dots {
  margin: 0 31px; }

.what__inner {
  padding: 113px 0 130px; }

.what__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /* margin: 22px -15px 0; */
  margin: 22px 0 0;
}

.what__item {
  width: 50%;
  margin: 30px 0 0;
  padding: 0 15px; }

.what__item-content {
  height: 100%;
  padding: 22px 30px 27px 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066);
          box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066); }
  .what__item-content:hover {
    background: #3A6EF4; }
    .what__item-content:hover .what__item-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    .what__item-content:hover .what__item-title,
    .what__item-content:hover .what__item-text {
      color: #fff; }

.what__item-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  margin: 0 0 15px; }

.what__item-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 50px;
  margin: 8px 20px 0 0; }

.what__item-title {
  font-size: 23px;
  font-weight: 900;
  line-height: 1.26;
  text-transform: uppercase; }

.what__item-text {
  font-size: 16px;
  line-height: 1.375; }

.cta {
  color: #fff;
  background: url("img/bg-3.jpg") center no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }
  .cta .title {
    line-height: 1; }

.cta__inner {
  padding: 118px 0 130px; }

.cta__text {
  margin: 69px 0 0;
  font-size: 22px;
  text-align: center; }

.cta__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 637px;
  margin: 70px auto 0;
  background: #fff;
  -webkit-border-radius: 7px;
          border-radius: 7px; }

.cta__form-input {
  width: 100%; }

.cta__form-button {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0 7px; }

.get__inner {
  padding: 113px 0 78px; }

.get__text {
  margin: 30px 0 0;
  font-size: 22px;
  text-align: center; }

.get__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin: 43px -15px 0;  */
  margin: 43px 0 0;

}

.get__item {
  width: 33.33%;
  margin: 30px 0 0;
  padding: 0 15px;
  text-align: center; }

.get__item-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.get__item-icon {
  margin: 0 0 16px; }

.get__item-title {
  text-align: center;
  margin: 0 0 26px;
  font-size: 27px;
  font-weight: 900;
  line-height: 1.26;
  text-transform: uppercase; }

.get__item-text {
  font-size: 16px;
  line-height: 1.4375; }

.partners__inner {
  padding: 103px 30px 79px;
  background: #fff;
  -webkit-box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066);
          box-shadow: 0 2px 38px rgba(0, 0, 0, 0.066); }

.partners__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1068px;
  margin: 73px auto 0;
  list-style: none; }
  .partners__items li {
    width: 16.66%;
    margin: 30px 0 0;
    padding: 0 15px; }

.reviews__inner {
  padding: 130px 0 0; }

.reviews__slider {
  margin: 47px 0 0; }

.reviews__slide-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -15px; }

.reviews__slide-image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  width: 50%;
  margin: 5px 0 0;
  padding: 0 15px; }
  .reviews__slide-image img {
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .reviews__slide-image:before {
    display: block;
    content: '“';
    position: absolute;
    right: -8px;
    top: 19px;
    font-size: 160px;
    font-weight: bold;
    line-height: 1;
    color: #3A6EF4; }

.reviews__slide-content {
  margin: 0 0 75px 26px;
  padding: 0 15px; }

.reviews__slide-title {
  margin: 0 0 12px;
  font-size: 22px;
  font-weight: bold; }

.reviews__slide-text {
  font-size: 15px;
  line-height: 1.53; }
  .reviews__slide-text p {
    margin: 15px 0 0; }
    .reviews__slide-text p:first-child {
      margin: 0; }

.reviews__controls {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -58px 0 0 41px;
  padding: 0 0 0 50%; }
  .reviews__controls .slick-arrow {
    border: 1px solid #E0E1E3; }
  .reviews__controls .slick-dots button:before {
    background: #E0E1E3; }

.results__inner {
  padding: 164px 0 130px; }

.results__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 12px -15px 0; }

.results__item {
  width: 33.33%;
  margin: 30px 0 0;
  padding: 0 15px; }

.results__item-content {
  position: relative;
  height: 100%;
  padding: 18px 26px 29px;
  color: #fff;
  background: #3A6EF4;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.results__item-icon {
  position: absolute;
  right: 30px;
  top: 30px; }

.results__item-title {
  position: relative;
  z-index: 1;
  margin: 0 0 12px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1; }

.results__item-text {
  position: relative;
  z-index: 1;
  max-width: 303px;
  margin: 0 3px;
  font-size: 15px;
  line-height: 1.34; }

.results__button {
  max-width: 299px;
  margin: 50px auto 0; }

.last {
  color: #fff;
  background: url("../images/bg-4.jpg") center no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }
  .last .title {
    text-align: left; }
  .last a {
    color: #fff; }

.last__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 122px 0 180px; }

.last__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 30px 0 0; }

.last__text {
  max-width: 600px;
  margin: 11px 0 0;
  font-size: 30px;
  line-height: 1.1; }

.last__contacts {
  margin: 15px 0 21px; }

.last__contact {
  margin: 24px 0 0;
  line-height: 1.1875;
  text-transform: uppercase; }
  .last__contact:first-child {
    margin: 0; }

.last__contact-title {
  margin: 0 0 3px;
  font-size: 13px;
  color: #3A6EF4; }

.last__contact-list {
  font-size: 16px;
  font-weight: bold;
  list-style: none; }

.last__map {
  height: 200px;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .last__map img {
    max-width: none;
    max-height: none; }

.callback__form, .last__form {
  width: 470px;
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 7px;
          border-radius: 7px; }

.callback__form-title {
  margin: 0 0 10px;
  font-size: 34px;
  font-weight: 900;
  color: #14AA52;
  text-align: center;
  text-transform: uppercase; }

.callback__form-subtitle {
  margin: 0 0 20px;
  font-size: 20px;
  text-align: center; }

.callback__form-input, .last__form-input {
  margin: 10px 0 0; }
  .callback__form-input:first-child, .last__form-input:first-child {
    margin: 0; }

.callback__form-button, .last__form-button {
  width: 100%;
  margin: 10px 0 0; }

.last__form {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 16px 0 0; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-size: 13px;
  color: #fff; }
  .footer a {
    color: #fff; }

.footer_static {
  position: relative;
  left: auto;
  bottom: auto;
  color: #292D34; }
  .footer_static a {
    color: #292D34; }

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  padding: 78px 0px; }

.footer__col {
  padding: 0 15px; }

.modal-policy {
  position: relative;
  height: 90vh;
  width: 1170px;
  padding: 30px 15px;
  background: #fff;
  -webkit-border-radius: 7px;
          border-radius: 7px; }

.modal-policy__text {
  height: 100%;
  font-size: 16px;
  text-align: center;
  overflow: auto; }
  .modal-policy__text h3 {
    font-size: 120%; }
  .modal-policy__text ul {
    margin: 20px 0 0;
    list-style: none; }
  .modal-policy__text ul, .modal-policy__text ol {
    list-style-position: inside; }
  .modal-policy__text li, .modal-policy__text p {
    margin: 20px 0 0; }
    .modal-policy__text li:first-child, .modal-policy__text p:first-child {
      margin: 0; }
  .modal-policy__text li span {
    font-weight: bold; }

.debug {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  padding: 5px;
  color: #fff;
  background: #000; }
  .debug:before {
    content: 'desktop'; }

@media (max-width: 1199px) {
  .debug:before {
    content: '1199'; }
  .header__contacts {
    display: none; }
  .header__left {
    padding: 0 60px 0 0; }
  .homescreen__heading h1:nth-child(1) span:first-child:before {
    top: 16px; }
  .homescreen__heading h1:nth-child(1), .homescreen__heading p:nth-child(3) {
    font-size: 22px; }
  .homescreen__heading p:nth-child(2) {
    font-size: 58px; }
  .title {
    font-size: 48px; }
  .what__item-icon {
    margin: 5px 10px 0 0; }
  .what__item-title,
  .cta__text,
  .get__text,
  .get__item-title {
    font-size: 20px; }
  .partners__items {
    text-align: center; }
  .reviews__slide-content {
    margin-left: 0; }
  .reviews__controls {
    margin-left: 15px; }
  .results__item-title {
    font-size: 42px; }
  .results__item-text {
    margin: 0;
    font-size: 14px; }
  .last__text {
    font-size: 24px; }
  .modal-policy {
    width: 970px; } }

@media (max-width: 991px) {
  .debug:before {
    content: '991'; }
  .menu-active .mobile-menu {
    z-index: 20;
    opacity: 1; }
  .header__left {
    height: 70px; }
  .header__menu {
    display: none; }
  .header__menu-button {
    display: block; }
  .homescreen__inner {
    padding: 150px 0 70px; }
  .why__inner,
  .reviews__inner {
    padding: 80px 0 0; }
  .objects__inner,
  .get__inner {
    padding: 80px 0 40px; }
  .what__inner,
  .cta__inner,
  .results__inner {
    padding: 80px 0; }
  .homescreen__heading h1:nth-child(1) span:first-child:before {
    top: 14px; }
  .homescreen__heading h1:nth-child(1), .homescreen__heading p:nth-child(3) {
    font-size: 20px; }
  .homescreen__heading p:nth-child(2) {
    font-size: 48px; }
  .title {
    font-size: 36px; }
  .why__item {
    width: 50%; }
  .what__item-icon {
    margin: 0 10px 0 0; }
  .what__item-title,
  .cta__text,
  .get__text,
  .get__item-title {
    font-size: 18px; }
  .what__item-text,
  .get__item-text,
  .reviews__slide-text {
    font-size: 14px; }
  .cta__text {
    margin: 45px 0 0; }
  .get__item {
    width: 50%; }
  .partners__inner {
    padding: 40px 30px; }
  .partners__items {
    max-width: none;
    margin: 15px 0 0; }
  .results__item-content {
    padding: 15px; }
  .results__item-icon {
    right: 15px;
    top: 15px; }
  .results__item-title {
    font-size: 32px; }
  .last .title {
    text-align: center; }
  .last__inner {
    display: block;
    padding: 80px 0 180px; }
  .last__left {
    padding: 0;
    text-align: center; }
  .last__text {
    max-width: none;
    font-size: 20px; }
  .last__form {
    width: auto !important;
    max-width: 470px;
    margin: 30px auto 0; }
  .footer {
    text-align: center; }
  .footer__inner {
    display: block;
    padding: 40px 0; }
  .footer__col {
    margin: 15px 0 0; }
    .footer__col:first-child {
      margin: 0; }
  .modal-policy {
    width: 740px; } }

@media (max-width: 767px) {
  .debug:before {
    content: '767'; }
  .input-1 input, .input-2 input {
    height: 57px;
    padding-top: 14px;
    padding-bottom: 14px; }
  
  .input-1 textarea,
  .input-2 textarea {
    height: 150px;
    padding-top: 18px;
    padding-bottom: 14px; }
  .input-1:before, .input-2:before {
    top: 10px; }
  .button-1, .button-2, .button-3 {
    height: 57px; }
  .button-2:before, .button-3:before {
    right: 15px; }
  .homescreen__heading h1:nth-child(1) span:first-child:before {
    top: 12px; }
  .homescreen__heading h1:nth-child(1), .homescreen__heading p:nth-child(3) {
    font-size: 18px; }
  .homescreen__heading p:nth-child(2) {
    font-size: 36px; }
  .title {
    font-size: 28px; }
  .why__item-title {
    font-size: 28px; }
  .why__item-text {
    font-size: 16px; }
  .objects__slider .slick-list {
    overflow: hidden; }
  .objects__slide {
    padding: 0; }
  .objects__slide-content {
    left: 0; }
  .objects__controls .slick-arrow, .reviews__controls .slick-arrow {
    width: 36px;
    height: 36px; }
  .objects__controls .slick-dots li, .reviews__controls .slick-dots li {
    margin: 0 3px; }
  .objects__controls-dots, .reviews__controls-dots {
    margin: 0 15px; }
  .what__item-content {
    padding: 15px; }
  .what__item-top {
    display: block; }
  .what__item-icon {
    margin: 0 0 15px; }
  .what__item-title,
  .cta__text,
  .get__text,
  .get__item-title {
    font-size: 16px; }
  .cta__text {
    margin: 30px 0 0; }
  .cta__form {
    padding: 5px 5px 5px 0; }
  .cta__form-button {
    margin: 0; }
  .get__item-icon {
    height: 80px; }
  .partners__items li {
    width: 33.33%; }
  .reviews__slide-inner {
    display: block; }
  .reviews__slide-content {
    margin: 0; }
  .reviews__slide-image {
    width: auto;
    margin: 0 0 30px; }
    .reviews__slide-image:before {
      display: none; }
  .reviews__controls {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 0;
    padding: 0; }
  .results__item-title {
    font-size: 24px; }
  .results__item-text {
    font-size: 13px;
    line-height: normal; }
  .last__text {
    font-size: 18px; }
  .callback__form-title {
    font-size: 24px; }
  .callback__form-subtitle {
    font-size: 16px; }
  .modal-policy {
    width: 550px; } }

@media (max-width: 575px) {
  .debug:before {
    content: '575'; }
  .header__logo, .footer__logo {
    height: 19px; }
  .header__button {
    display: none; }
  .homescreen__heading {
    max-width: 290px;
    margin: 0 auto; } 
    .homescreen__heading h1:nth-child(1) span:first-child:before {
      top: 10px; }
    .homescreen__heading h1:nth-child(1), .homescreen__heading p:nth-child(3) {
      font-size: 16px; }
    .homescreen__heading p:nth-child(2) {
      font-size: 24px; }
      .homescreen__heading p:nth-child(2) span {
        margin: -5px 0 0; }
    .homescreen__heading p:nth-child(3) {
      margin: 33px 0 0; }
  .homescreen__button {
    margin: 30px auto 0; }
  .title {
    font-size: 20px; }
  .why__item {
    margin: 10px 0 0;
    padding: 0 5px; }
  .why__item-content {
    padding: 30px 15px 15px; }
  .why__item-title {
    font-size: 20px; }
  .why__item-text {
    font-size: 14px; }
  .objects__slide-content {
    height: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 0 4px 0 0;
            border-radius: 0 4px 0 0; }
    .objects__slide-content:before {
      display: none; }
  .objects__slide-title {
    padding: 0;
    font-size: 14px;
    font-weight: bold; }
    .objects__slide-title:before {
      display: none; }
  .objects__controls, .reviews__controls {
    margin: 30px 0 0; }
  .what__items {
    display: block; }
  .what__item {
    width: auto; }
    .what__item:first-child {
      margin: 0; }
  .cta__form {
    display: block;
    max-width: 300px;
    margin: 30px auto 0;
    padding: 0;
    background: none; }
  .cta__form-input input {
    background: #fff; }
  .cta__form-button {
    width: 100%;
    margin: 10px 0 0; }
  .get__items {
    display: block; }
  .get__item {
    width: auto; }
    .get__item:first-child {
      margin: 0; }
  .get__item-icon {
    height: 70px; }
  .partners__items li {
    width: 50%; }
  .reviews__slide-title {
    font-size: 18px; }
  .results__items {
    display: block;
    margin-top: 30px; }
  .results__item {
    width: auto; }
    .results__item:first-child {
      margin: 0; }
  .results__item-content {
    height: auto; }
  .last__text {
    font-size: 16px; }
  .last__contact-list {
    font-size: 14px; }
  .callback__form, .last__form {
    width: 290px;
    padding: 30px 15px; }
  .callback__form-title {
    font-size: 20px; }
  .callback__form-subtitle {
    font-size: 14px; }
  .modal-policy {
    width: 290px; } }

@media (max-width: 320px) {
  .debug:before {
    content: '320'; } }
